* {
  margin: px;
}
body {
  background-color: #000;
  margin: 120px;
}
header {
  background-color: black;
  padding: 18px;
}
nav {
  margin: 15px;
  padding: 13px 400px;
}

p {
  background-color: #none;
  text-align: justify;
  padding: 4px;
}
img {
  margin: 12px;
  border: 0px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}